<h1>Items</h1>

{{#if message}}
    <div class="alert alert-info">{{message}}</div>
{{/if}}

{{#if items}}
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each items}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>${{this.price}}</td>
                    <td>{{this.category}}</td>
                    <td>
                        <a href="/items/delete/{{this.id}}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>No items available.</p>
{{/if}}
